#toast-container{
    top: 3rem !important;
    animation: fade-in 250ms ease-in-out;
}

@keyframes fade-in{
    from{
        transform: translateY(2rem);
        opacity: 0;
    }
    to{
        transform: translateY(0rem);
        opacity: 1;
    }
}