.cart{
    color: white;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    border-radius: 5%;
    z-index: 5;
    padding: 1rem;
}

@media (min-width: 767px){
    .cart{
        bottom: unset;
        top: 8rem;
    }
}

.material-icons{
    font-size: 35px;
}